@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
 position: sticky;
 top:0;
 z-index: 20;
}

.navbar{
 display: flex;
 align-items: center;
 justify-content: space-around;
width: 100%;
padding: 1vw 0;
gap: 14vw;
background-color: white;
}
.navbar img{
    width: 8vw;
    height: auto;
    
}
.bouttonNavig ul{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5vw;
    font-size: 1.5vw;
    
}
.bouttonNavig li{
list-style: none;
}
.bouttonNavig a{
    text-decoration: none;
color: rgb(75, 100, 148);
}
.bouttonNavig button {
    padding: 1vw 2vw;
    font-size: 1.5vw;
    background-color: rgb(223, 164, 8);
    border-radius: 15px;
    color: rgb(75, 100, 148);
}

.page1{
    height: 50vw;
    width: 100%;
    overflow: hidden;
    background-image: url(HEI-Site-assets/background.png);
    background-size: contain;
    background-position: center;


}
.page1 .land1{
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} 
.page1 .perso1 {
    top: 1;
    z-index: 2;

}
.page1 .perso2 {

}
.page1 .ecoleHEI {
    display: flex;
    flex-direction: column;
    }

.page1 .ecoleHEI .p1 {
    font-family: garamond, Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 5vw;
    font-size: 3vw;
    text-align: center;
}

.page1 .ecoleHEI .p2 {
    font-family: roboto, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 5vw;
    font-size: 1.5vw;
}

.page1 .ecoleHEI .bouttonINFO{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vw;
    gap: 16px;
}

.page1 .ecoleHEI button {
    background-color: white;
    padding: 1vw 3vw;
    font-weight: bold;
    border-radius: 15px;
    color: rgb(75, 100, 148);
}

.page1 .ecoleHEI .btnOrange {
    background-color: white;
    padding: 1vw 3vw;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(223, 164, 8);
    color: rgb(75, 100, 148);
}

.page1 .ecoleHEI .p3 {
    color: white;
    text-align: center;
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

.page2{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(HEI-Site-assets/apropos-backgound.png);
    background-size: contain;
    background-position: center;
    gap: 10vw;
    padding: 1rem;
}

.page2 img {
    height: 80vh;
    width: auto;
}

.page2 .aproposHEI {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page2 .aproposHEI .titleSection {
    display: flex;
}

body{
    background-color: white;
}

.btnIntranet{
    border: none;
}
.btnIntranet a{
    color: white;
}
.btnIntranet:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.btnBlanc:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.btnOrange{
    background-color: rgb(223, 164, 8);
    border: none;
    border-radius: 10px;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    color: white;
}
.btnOrange:hover{
    opacity: 0.8;
    transition: 0.3s;
    transform: translateY(-5px);
}

.btnBleu{
    background-color: rgb(75, 100, 148);
    border: none;
    border-radius: 10px;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    color: white;
}
.btnBleu:hover{
    opacity: 0.8;
    transition: 0.3s;
    transform: translateY(-5px);
}

.titre1{
    font-family: popins, Arial, Helvetica, sans-serif;
    color: rgb(75, 100, 148);
    font-size: 3vw;
}
.titre2{
    font-family: garamond, Arial, Helvetica, sans-serif;
    color: rgb(75, 100, 148);
    font-size: 2vw;
}
.titre3{
    font-family: garamond, Arial, Helvetica, sans-serif;
    color: rgb(75, 100, 148);
    font-size: 1.5vw;
}

.p4{
    font-family: roboto, Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 1.3vw;
}
.p5{
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(75, 100, 148);
    font-size: 1.4vw;
}
.p6{
    font-family: roboto, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1vw;
}

.blocApropos{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.blocInfo .titleSection{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 1vw;
    margin-top: 2vw;
}
.blocInfo .fa-solid{
    color: rgb(223, 164, 8);
    font-size: 4vw;
}

.page3{
width:100%;
padding:6vw 5vw;
background-image:url(HEI-Site-assets/Fond-HEI-2-v2\ 1.png);
background-size:cover;
background-repeat:no-repeat;
background-position:center;
display:flex;
flex-direction:column;
align-items:center;
gap:5vw;
}

.titreBloc{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
gap:1vw;
}

.listeProf{
width:100%;
display:flex;
justify-content:space-evenly;
align-items:flex-start;
gap:2vw;
}

.carteProf{
background-color:rgb(8,28,88);
width:28%;
border-radius:1.5vw;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:2vw;
margin-top:10vw;
position:relative;
transition:.3s;
}

.carteProf:hover{
transform:translateY(-0.5vw);
}

.cadreImg{
width:16vw;
position:absolute;
top:0;
transform:translateY(-45%);
}

.cadreImg img{
width:100%;
height:100%;
object-fit:cover;
border-radius:.8vw;
}

#Tahina {
    border: 4px solid rgb(223,164,8);
}

.carteProf .titre3{
color:white;
margin-top:9vw;
font-size:1.6vw;
}

.carteProf .p3{
color:white;
font-size:1vw;
line-height:1.7vw;
margin-top:1vw;
width:90%;
}

.page4{
width:100%;
background:white;
display:flex;
justify-content:center;
align-items:center;
margin: 0;
}

.land2{
padding: 0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
gap:3vw;
}

.imgLeft{
width:22vw;
height:auto;
}

.Textaperçu{
width:50%;
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
gap:2vw;
position:relative;
}

.titreOrange{
font-family:garamond,Arial;
font-size:3vw;
color:rgb(223,164,8);
}

.Textaperçu .titre3{
font-size:1.3vw;
line-height:2.1vw;
font-weight:500;
color:rgb(0, 0, 0);
}

.chevron{
width:4vw;
height:auto;
margin-top:1vw;
transition:.3s;
}

.chevron:hover{
transform:translateY(-.3vw);
}

.imgRigth{
width:20vw;
height:auto;
}

.décoPoints{
width:8vw;
position:absolute;
right:-4vw;
top:4vw;
opacity:.8;
}

.page4{
    width: 100%;
    padding: 5vw 6vw;
    background-color: white;
}
.blocDebouche{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}
.deboucheTexte{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.deboucheImage{
    width: 45%;
    display: flex;
    justify-content: center;
}
.deboucheImage img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.page5{
    width: 100%;
    padding: 5vw 6vw;
    background-color: rgb(220, 218, 218);
    display: flex;
    flex-direction: column;
    gap: 10vw;
}
.listeDomaines{
    display: flex;
    gap: 3vw;
}
.blocDomaine{
    width: 28vw;
    background-color: white;
    border-radius: 15px;
    padding: 3vw 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    box-shadow: 8px 8px 1px rgb(100, 95, 95);
    border: 2px solid rgb(230, 230, 230);
    transition: 0.3s;
}
.blocDomaine:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(200, 200, 200);
}
.rondDomaine{
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5vw;
    box-shadow: 0 0 10px rgb(220, 220, 220);
}
.rondDomaine img{
    width: 10vw;
    height: auto;
}
.blocDomaineMilieu{
    border: 2px dotted rgb(150, 150, 150);
    box-shadow: 8px 8px 1px rgb(100, 95, 95);
    margin-top: -6vw;
}
.blocDomaine .titre3{
    text-align: center;
}
.blocDomaine .p3{
    text-align: center;
}

.page6{
    width: 100%;
    padding: 5vw 6vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.bandeAdmission{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.etapeAdmission1{
    width: 28%;
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 223, 181) ;
    gap: 1vw;
}

.etapeAdmission2{
    width: 28%;
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 208, 144) ;
    gap: 1vw;
}

.etapeAdmission3{
    width: 28%;
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 193, 107);
    gap: 1vw;
}

.numEtape{
    font-family: garamond, Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
.etapeAdmission .p3{
    color: rgb(80, 80, 80);
    font-size: 1.1vw;
}
.etapeAdmission .p5{
    color: rgb(75, 100, 148);
}
.chevronAdmission1{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 223, 181) ;
}

.chevronAdmission2{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 208, 144) ;
}

.bouttonAdmission{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.btnfondBlanc{
    color: rgb(223, 164, 8);
    border: none;
    border-radius: 10px;
    padding: 1vw 2vw;
    font-size: 2vw;
    background-color: white;
    border: solid rgb(223, 164, 8);
}

.page7{
    width: 100%;
    background-color: rgb(245, 245, 245);
    background-size: cover;
    background-position: center;
        background: linear-gradient(
to bottom,
rgb(143, 139, 139),
rgb(255,255,255)
);
display: flex;
justify-content: space-between;
}
.blocProgramme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    padding-left: 10vw;
}
.programmeTexte{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.programmeImage{
    height: 100%;
    display: flex;
    justify-content: center;
}
.programmeImage img{
    width: 100%;
    height: auto;
}

.page8{
    width: 100%;
    padding: 5vw 6vw;
background:
linear-gradient(
to bottom,
rgba(255, 255, 255, 0.9),
rgba(255, 255, 255, 0)
),
url("HEI-Site-assets/Fond-HEI-2-v2 1.png");
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 3vw;
}
.blocTechno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}
.iconeTechno{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    flex-wrap: wrap;
}
.rondTech{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 3px solid rgb(223, 164, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
.rondTech:hover{
    transform: translateY(-5px);
}
.rondTech img{
    width: 100%;
    height: auto;
}
.texteTechno{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.page9{
    width: 100%;
    padding: 5vw 6vw;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.listePartenaires{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}
.logoPart{
    width: 16vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoPart img{
    width: 90%;
    height: auto;
}

.footerHEI{
    width: 100%;
    background-color: rgb(15, 34, 70);
    padding: 2vw;
    display: flex;
    flex-direction: column;
}
.footerContenu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3vw;
    flex-wrap: wrap;
}
.footerBloc{
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.footerBloc img{
    width: 10vw;
    height: auto;
}
.footerBloc .titreOrange{
    color: rgb(223, 164, 8);
}

.policeBlancFooter {
    color: white;
}

.footerBloc a{
    text-decoration: none;
    color: white;
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}
.footerBloc a:hover{
    opacity: 0.8;
    transition: 0.3s;
}
.listeSocial{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.rondSocial{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: rgb(223, 164, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}
.rondSocial:hover{
    opacity: 0.8;
    transform: translateY(-5px);
}
.rondSocial .fa-brands{
    color: rgb(15, 34, 70);
    font-size: 1.3vw;
}
.btnTop{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btnTop a{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: rgb(223, 164, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}
.btnTop a:hover{
    opacity: 0.8;
    transform: translateY(-5px);
}
.btnTop .fa-solid{
    color: rgb(15, 34, 70);
    font-size: 1.3vw;
}
.footerBas{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
    border-top: 1px solid rgb(60, 60, 60);
}

@media (max-width: 900px) {
    .navbar{
        gap: 4vw;
        justify-content: space-between;
        padding: 3vw 4vw;
    }
    .navbar img{
        width: 20vw;
    }
    .bouttonNavig ul{
        gap: 3vw;
        font-size: 3.5vw;
    }
    .bouttonNavig button{
        font-size: 3.5vw;
        padding: 2vw 3vw;
    }

    .page1{
        height: auto;
        padding: 10vw 0;
        background-size: cover;
    }
    .page1 .land1{
        flex-direction: column;
        gap: 6vw;
    }
    .page1 .perso1, .page1 .perso2{
        width: 70vw;
        height: auto;
    }
    .page1 .ecoleHEI .p1{
        font-size: 7vw;
    }
    .page1 .ecoleHEI .p2{
        font-size: 4vw;
        padding: 0 6vw;
    }
    .page1 .ecoleHEI .p3{
        font-size: 3.5vw;
        padding: 0 6vw;
    }
    .page1 .ecoleHEI button{
        padding: 3vw 6vw;
        font-size: 4vw;
    }

    .page2{
        height: auto;
        flex-direction: column;
        padding: 8vw 6vw;
    }
    .page2 img{
        height: auto;
        width: 90%;
    }
    .titre1{
        font-size: 7vw;
    }
    .titre2{
        font-size: 5vw;
    }
    .titre3{
        font-size: 4.5vw;
    }
    .p4{
        font-size: 3.8vw;
    }
    .p5{
        font-size: 4vw;
    }
    .btnOrange, .btnBleu{
        font-size: 4vw;
        padding: 3vw 6vw;
    }

    .listeProf {
        flex-direction: column;
    }
    .carteProf{
        width: 90%;
    }

    .land2{
        flex-direction: column;
    }

    .Textaperçu{
        width: 90%;
    }

    .titreOrange{
        font-size: 6vw;
    }

    .land2 img {
        display: none;
    }

    .blocDebouche{
        flex-direction: column;
    }
    .deboucheTexte, .deboucheImage{
        width: 100%;
    }
    .listeDomaines{
        flex-direction: column;
        gap: 80px;
    }

    .blocDomaine{
        width: 90%;
    }
    .rondDomaine{
        width: 18vw;
        height: 18vw;
        margin-top: -12vw;
    }
    .rondDomaine img{
        width: 10vw;
    }
    .bandeAdmission{
        flex-direction: column;
        gap: 2vw;
        padding: 4vw 0;
    }
    .etapeAdmission1{
        width: 90%;
    }
    .etapeAdmission2{
        width: 90%;
    }
    .etapeAdmission3{
        width: 90%;
    }
    .chevronAdmission{
        width: 10%;
    }
    .chevronAdmission img{
        width: 4vw;
    }
    .blocProgramme{
        flex-direction: column;
    }
    .programmeTexte, .programmeImage{
        width: 100%;
    }

    .page8{
        flex-direction: column;
    }

    .blocTechno{
        flex-direction: column;
        align-items: center;
    }
    .iconeTechno{
        width: 100%;
        
    }
    .texteTechno{
        width: 100%;
    }
    .rondTech{
        width: 15vw;
        height: 15vw;
    }
    .rondTech img{
        width: 9vw;
    }
    .logoPart{
        width: 40%;
    }
    .footerBloc{
        width: 90%;
    }
    .footerBloc img{
        width: 30vw;
    }
    .footerBloc a{
        font-size: 4vw;
    }
    .rondSocial{
        width: 10vw;
        height: 10vw;
    }
    .rondSocial .fa-brands{
        font-size: 5vw;
    }
    .btnTop a{
        width: 10vw;
        height: 10vw;
    }
    .btnTop .fa-solid{
        font-size: 5vw;
    }
    .p6{
        font-size: 3.5vw;
    }
}